<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fots -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- Remixicon Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Remixicon Icon -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="{% static 'profile/css/main.css' %}" rel="stylesheet">


    <title>SSMS - Profile </title>
</head>
<body>

<!-- header -->
<header class="ds-header" id="site-header">
    <div class="container">
        <div class="ds-header-inner">

            <!-- logo -->
            <a href="#" class="ds-logo">
                <span>{{ student.student.first_name.0 }}</span>
                {{ student.student.first_name }} {{ student.student.last_name }}
            </a>
            <!-- logo -->
            <!-- social -->
            <ul class="ds-social">
                {% if student.github %}
                <li><a href="{{ student.github }}" target="_blank"><i class="ri-github-fill"></i></a></li>
                {% endif %}
                {% if student.linkedin %}
                <li><a href="{{ student.linkedin }}" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                {% endif %}
            </ul>
            <!-- social -->
        </div>
    </div>
</header>
<!-- header -->
<!-- banner -->

<div class="ds-banner">
    <div class="container">
        <br><br><br><br><br><br><br><br><br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 d-flex justify-content-center align-items-center">
                <figure style="width: 450px; height: 450px; overflow: hidden;">
                    <img src="{% static 'profile/images/profile-image.jpg' %}" class="img-fluid rounded-circle"
                         alt="Profile Image" style="object-fit: cover; width: 100%; height: 100%;">
                </figure>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                <section>

                    <h1>
                        <span>HI THERE,</span>
                        I’m {{student.student.first_name}} {{student.student.last_name}} <br>
                        {% if student.experience_years or student.city %}
                        {{ student.designation }}
                        based in {{student.city}}.
                        {% else %}
                        <h4> It looks like you haven't updated your profile</h4>
                        <h6>Please <a href="{% url 'edit_student_profile' %}"><strong>click here</strong></a> to go to the edit mode.</h6>
                        <br>
                        {% endif %}
                    </h1>
                    <ul class="ds-numbervalulist">
                        <li>
                            <strong>{{student.experience_years}}+</strong>
                            <span>Experience</span>
                        </li>
                        <li>
                            <strong>{{ total_projects }}</strong>
                            <span>Projects</span>
                        </li>
                        <li>
                            <strong>{{ total_certifications }}</strong>
                            <span>Certifications</span>
                        </li>
                    </ul>

                </section>
            </div>
        </div>
    </div>
</div>
<!-- banner -->

<!-- about -->
<div class="ds-about-section">
    <div class="container">
        <section>
            <h2 class="ds-heading">About Me</h2>
            {% if student.about_me %}
            <p>{{ student.about_me }}</p>
            {% else %}
            <h4> Not Available </h4>
            <h6>Please add from edit mode.</h6>
            <br>
            {% endif %}
            <div class="ds-button-sec text-center">
                <a href="{% url 'download_resume' %}" target="_blank" class="ds-button">Show Resume</a>
            </div>
        </section>
    </div>
</div>
<!-- about -->

<!--  Skills -->
<div class="ds-skills-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">Core Skills</h2>
                {% if tech_skills %}
                <ul class="ds-skills-list">
                    {% for skill in tech_skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <h4> Not Available </h4>
                <h6>Please add from edit mode.</h6>
                <br>
                {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <h2 class="ds-heading">Other Skills</h2>
                {% if soft_skills %}
                <ul class="ds-skills-list">
                    {% for skill in soft_skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <h4> Not Available </h4>
                <h6>Please add from edit mode.</h6>
                <br>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--  Skills -->

<!-- Experience -->
<div class="ds-experience-section">
    <div class="container">
        <h2 class="ds-heading">Work Experience</h2>
        {% if total_work %}
        <div class="row ds-experience-list">

            {% for i, key_points in work %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <section>
                    <span class="ds-year">{{i.start_date}} - {{i.end_date}}</span>
                    <h3 class="ds-officename">{{i.organization_name}}</h3>
                    <span class="ds-department">{{i.role}}</span>
                    <ul>
                        {% for point in key_points %}
                        {% for i in point %}
                        <li>{{i}}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </section>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h4> Not Available </h4>
        <h6>Please add from edit mode.</h6>
        <br>
        {% endif %}
    </div>
</div>
<!-- Experience -->

<!-- Projects -->
<div class="ds-experience-section">
    <div class="container">
        <h2 class="ds-heading">Projects</h2>
        {% if total_projects %}
        <div class="row ds-experience-list">
            {% if projects %}
            {% for i, key_points in projects %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <section>
                    <span class="ds-year">{{i.start_date}} - {{i.end_date}}</span>
                    <h3 class="ds-projectname">{{i.project_name}}</h3>
                    <span class="ds-link"><a href="{{i.link}}" target="_blank">Project Link</a></span>
                    <ul>
                        {% for point in key_points %}
                        {% for i in point %}
                        <li>{{i}}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </section>
            </div>
            {% endfor %}
            {% else %}
            <h4> Not Available </h4>
            <h6>Please add from edit mode.</h6>
            <br>
            {% endif %}
        </div>
        {% else %}
        <h4> Not Available </h4>
        <h6>Please add from edit mode.</h6>
        <br>
        {% endif %}
    </div>
</div>
<!-- Projects -->

<br><br>
<!--  footer -->
<footer class="ds-footer text-center">
    <div class="container">
        <section>
            <span>Stay in touch</span>
            <h4>Ready to talk?</h4>
            <p>Feel free to contact me</p>
            <ul class="ds-social d-flex justify-content-center">
                {% if student.github %}
                <li><a href="{{ student.github }}" target="_blank"><i class="ri-github-fill"></i></a></li>
                {% endif %}
                {% if student.linkedin %}
                <li><a href="{{ student.linkedin }}" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                {% endif %}
            </ul>
        </section>
        <span class="ds-copyright"><a href="#" target="_blank">SSMS Final Year Project</a>.</span>
    </div>

</footer>

<!-- Floating menu button with custom shape and dropdown -->
<div class="position-fixed bottom-0 end-0 p-3">
    <div class="btn-group">
        <!-- Rectangular part with arrow icon -->
        <button type="button" class="btn btn-dark rounded-circle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ri-menu-line text-white"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'edit_student_profile' %}"><i class="ri-edit-line"></i> Edit</a></li>
            <li><a class="dropdown-item" href="{% url 'student_dashboard' %}"><i class="ri-home-line"></i> Home</a></li>

        </ul>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
<script>
<!-- Script for the dropdown menu -->
<script>
    $(document).ready(function () {
        // Add your menu toggle logic here
        $('#toggleMenu').click(function () {
            // Toggle the dropdown menu
            $('.dropdown-menu').toggleClass('show');
        });

        // Close the dropdown menu when clicking outside
        $(document).on('click', function (event) {
            if (!$(event.target).closest('.btn-group').length) {
                $('.dropdown-menu').removeClass('show');
            }
        });
    });
</script>
</body>
</html>