{% extends 'teacher/base_teacher.html' %}

{% block content %}
<div class="nk-block nk-block-lg">
    {% if message %}
    <div class="alert alert-fill alert-success alert-icon">
        <em class="icon ni ni-check-circle"></em> <strong>Done</strong>, {{ message }}
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-fill alert-danger alert-icon">
        <em class="icon ni ni-cross-circle"></em> <strong>Error</strong>, {{ error}}
    </div>
    {% endif %}
    <div class="card card-bordered">
        <div class="card-inner">

            <h2>Add Student</h2>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="batu_prn" class="form-label">BATU PRN</label>
                    <input type="text" class="form-control" id="batu_prn" name="batu_prn" required>
                    <div class="invalid-feedback">
                        Please enter BATU PRN.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                    <div class="invalid-feedback">
                        Please enter the first name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="middle_name" class="form-label">Middle Name</label>
                    <input type="text" class="form-control" id="middle_name" name="middle_name">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required>
                    <div class="invalid-feedback">
                        Please enter the last name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number">
                </div>
                <button type="submit" class="btn btn-primary">Add Student</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}
